@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    min-height: 100vh;
    background-color: theme(colors.gray.50);
    color: theme(colors.gray.900);
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: theme(colors.gray.900);
      color: theme(colors.gray.100);
    }
  }
}
